@import url("https://fonts.googleapis.com/css2?family=MonteCarlo&family=Roboto&family=Poppins:ital,wght@1,100&display=swap");
* {
  z-index: 1;
}

body#index {
  background: #242424;
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover,
a:active {
  color: #ffffff;
  text-decoration: none !important;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: white;
}

/* Scroll Bar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FF6584;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #50F8FF;
}

/* Typography classes*/
.font-monte-carlo {
  font-family: "MonteCarlo", cursive;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

/* Navigation */
.navbar {
  padding: 25px 0;
}

.navbar-logo {
  margin-left: 50px;
  height: 50px;
  width: 127px;
}

.nav-item {
  padding: 0 20px;
}

.nav-link, .nav-link:hover {
  color: white;
  font-size: 20px;
}

.nav-link:active {
  color: white;
}

.banner {
  height: 100%;
  width: 100%;
}

.banner-name {
  margin-top: 23vh;
  text-transform: uppercase;
  text-align: center;
  font: normal 11.625vw/14.75vw Lucida Sans Unicode;
  letter-spacing: 3.188vw;
  transition: 0.5s;
  color: #50F8FF;
  text-shadow: #50F8FF 0px 0px 200px;
}

.banner-sub {
  text-transform: uppercase;
  font: normal 1.5vw/2vw Lucida Sans Unicode;
  left: 9vw;
  top: -4vh;
  position: relative;
  z-index: 1;
  width: 15%;
  text-shadow: white 0px 1px 25px;
}

.banner-girl img {
  left: 30vw;
  top: -9vh;
  position: relative;
  z-index: 1;
  width: 15%;
  height: auto;
}

.section-2 {
  padding: 200px 50px 50px 50px;
}

.section-2 .section-heading {
  padding: 5% 10%;
}

.section-2 p {
  line-height: 2rem;
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
}

.section-3 {
  padding: 100px 50px 50px 50px;
}

.section-3 .section-heading {
  padding: 10% 10%;
}

.section-3 .card {
  border: none;
  margin: 10px;
  background: rgba(0, 0, 0, 0);
}

.section-3 .card-title {
  color: #00b2ff;
  text-align: center;
  font-family: Nunito Sans bold;
  font-weight: 700;
}

.section-3 .card-text {
  margin-top: 50px;
  color: #FF6584;
  text-align: center;
  font-family: Gadugi;
}

.section-4 {
  position: relative;
}

.section-4 .section-heading {
  padding: 10%;
}

.section-4 p {
  padding: 20% 10%;
  text-align: justify;
  line-height: 2rem;
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
}

.section-4 .notebook {
  position: absolute;
  transition: 0.5s;
  opacity: 0.8;
}

.section-4 .certificate {
  z-index: 9;
  transform: scale(1.1);
  margin: 15% 0;
  margin-left: 30%;
  opacity: 0.8;
  transition: 0.4s;
}

.section-4 .certificate:hover {
  transform: rotate(15deg) translateX(100px) scale(1.18);
  opacity: 1;
}

.section-5 {
  padding: 5% 10%;
  text-align: justify;
  line-height: 1.8rem;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

footer {
  background-color: rgba(255, 255, 255, 0.034);
  height: 100%;
}

footer .footer-heading {
  margin: 50px 0;
  text-align: center;
  transition: 1s;
  color: white;
  text-transform: uppercase;
}

.footer-section .footer-list li {
  text-align: center;
  list-style: none;
  padding-top: 10px;
  color: #FF6584 !important;
}

.footer-section .footer-list a,
.footer-text {
  text-align: center;
  list-style: none;
  padding-top: 10px;
  color: #FF6584 !important;
  opacity: 0.5;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #FF6584 !important;
  text-align: justify;
}

.footer-section .footer-list a:hover,
.footer-text:hover {
  opacity: 1;
  transition: 0.2s;
}

.footer-form input {
  border: none;
  line-height: 3;
  background-color: rgba(0, 0, 0, 0.185);
  color: white;
  margin-top: 5px;
  padding-left: 20px;
}

.footer-form input:focus,
textarea:focus,
select:focus {
  outline: none;
  background: rgba(0, 0, 0, 0.082);
  border: none;
  color: white;
}

footer .social-links {
  padding: 50px 0;
  text-align: center;
}

footer .social-links a {
  text-align: center;
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
}

footer .social-links a:hover,
footer .social-links a:active {
  transition: 0.3s;
  color: #50F8FF;
  text-decoration: none !important;
  cursor: pointer;
}

.footer-copyright {
  text-align: center;
  font-family: "MonteCarlo", cursive;
  letter-spacing: 0.3vw;
  padding: 10px 0;
}

/* Contact Page */
.contact-display {
  font-family: Impact;
  margin-left: 20vw;
}

.contact-display h1 {
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.2);
}

.contact-main {
  background-color: #086562;
  padding: 10vh 15vw;
  margin-top: -33px;
}

.contact-main .contact-heading {
  background-color: rgba(255, 255, 255, 0.6);
  width: 75%;
  border: none;
  border-radius: 50px;
  margin: 5% 12%;
  padding: 4% 0;
  font: normal normal bold 20px/27px Nunito Sans;
  letter-spacing: 0px;
  color: #464646;
}

.contact-main .contact-body {
  width: 75%;
  height: 30vh;
  margin: 2% 12%;
  padding: 4% 20%;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 15px 15px 119px 15px;
  opacity: 0.49;
  margin-bottom: 100px;
}

.contact-main .contact-body p {
  text-align: left;
  letter-spacing: NaNpx;
  color: #000000;
  opacity: 0.63;
}

/*# sourceMappingURL=style.css.map */
