/* Navigation */
.navbar {
    // margin-left: 85px;
    // margin-right: 115px;
  padding: 25px 0;
}
.navbar-logo {
  margin-left: 50px;
  height: 50px;
  width: 127px;
}
.nav-item {
  padding: 0 20px;
}
.nav-link,.nav-link:hover {
  color: white;
  font-size: 20px;
}
.nav-link:active{
  color: white;

}
